---
import './PluginsSection.scss';
import Modrinth from '../../assets/icons/modrinth.svg';
import GitHub from '../../assets/icons/github.svg';
import PluginDownloads from '../PluginDownloads.tsx';
import BStatsServers from '../BStatsServers.tsx';
import { Download, Server } from '@lucide/astro';

interface Plugin {
    title: string;
    slug: string;
    bStatsId: string;
    description: string;
    iconUrl: string;
    modrinthUrl: string;
    githubUrl: string;
}

const plugins: Plugin[] = [
    {
        title: 'LifeStealZ',
        slug: 'lifestealz',
        bStatsId: '18735',
        description:
            'A relieable and highly customizable LifeSteal plugin for Minecraft servers.',
        iconUrl: '/img/plugins/lsz.svg',
        modrinthUrl: 'https://modrinth.com/plugin/lifestealz',
        githubUrl: 'https://github.com/KartoffelChipss/LifeStealZ',
    },
    {
        title: 'ServerLinksZ',
        slug: 'serverlinksz',
        bStatsId: '22795',
        description:
            'A a simple Plugin that allows you to add Links to the new Server Links section of your Minecraft server.',
        iconUrl: '/img/plugins/slz.svg',
        modrinthUrl: 'https://modrinth.com/plugin/serverlinksz',
        githubUrl: 'https://github.com/ZetaPlugins/ServerLinksZ',
    },
    {
        title: 'TimberZ',
        slug: 'timberz',
        bStatsId: '25743',
        description:
            'The best Lumberjack Axe (Treecapitator) plugin for Minecraft.',
        iconUrl: '/img/plugins/tz.svg',
        modrinthUrl: 'https://modrinth.com/plugin/timberz',
        githubUrl: 'https://github.com/ZetaPlugins/TimberZ',
    },
    {
        title: 'CookieClickerZ',
        slug: 'cookieclickerz',
        bStatsId: '25442',
        description:
            'A Minecraft Cookie Clicker plugin that allows you to play a fun and addictive game within Minecraft.',
        iconUrl: '/img/plugins/ccz.svg',
        modrinthUrl: 'https://modrinth.com/plugin/cookieclickerz',
        githubUrl: 'https://github.com/ZetaPlugins/CookieClickerZ',
    },
    {
        title: 'NetwatchZ',
        slug: 'netwatchz',
        bStatsId: '27376',
        description:
            'Protect your server against bots and other malicious activity through IP blocking, geoblocking, and VPN detection.',
        iconUrl: '/img/plugins/nwz.svg',
        modrinthUrl: 'https://modrinth.com/plugin/netwatchz',
        githubUrl: 'https://github.com/ZetaPlugins/NetwatchZ'
    },
    {
        title: 'What\'d Ya Got',
        slug: 'wyg',
        bStatsId: '27519',
        description:
            'Show off whatever you\'re holding in your hand! It shows a little icon in chat and reveals the whole item lore on hover.',
        iconUrl: '/img/plugins/wyg.svg',
        modrinthUrl: 'https://modrinth.com/plugin/wyg',
        githubUrl: 'https://github.com/ZetaPlugins/WYG'
    }
];
---

<section class="plugins">
    <h2>## Our Plugins</h2>

    <div class="list">
        {
            plugins.map((plugin) => (
                <div class="plugin">
                    <div class="head">
                        <img
                            src={plugin.iconUrl}
                            alt={`${plugin.title} logo`}
                            class="icon"
                            loading="lazy"
                        />
                        <h3 class="title">{plugin.title}</h3>
                    </div>
                    <div class="stats">
                        <span class="stat" title="Downloads">
                            <Download />
                            <PluginDownloads slug={plugin.slug} client:load />
                        </span>
                        <span class="stat" title="Servers">
                            <Server />
                            <BStatsServers
                                pluginId={plugin.bStatsId}
                                client:load
                            />
                        </span>
                    </div>
                    <p class="description">{plugin.description}</p>
                    <div class="links">
                        <a
                            href={plugin.modrinthUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="modrinth"
                        >
                            <Modrinth class="modrinth-icon" />
                            <span>View on Modrinth</span>
                        </a>
                        <a
                            href={plugin.githubUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="iconLink"
                            aria-label="GitHub"
                        >
                            <GitHub />
                        </a>
                    </div>
                </div>
            ))
        }
    </div>
</section>
